body {
	background-color: #FFFFFF;
}

/* shamelessly stolen from Universal Paperclip, thank you! */

.button {
   border: 1px solid #1a1a1a;
   background: #666666;
  
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
   background: -webkit-linear-gradient(top, #ffffff, #888888);
   background: -moz-linear-gradient(top, #ffffff, #888888);
   background: -ms-linear-gradient(top, #ffffff, #888888);
   background: -o-linear-gradient(top, #ffffff, #888888);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #888888 100%);
    
   padding: 12.5px 25px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #cccccc 0 1px 0;
   color: #000000;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   outline: none;
   }

.button:hover {
   border: 1px solid #898989;
   text-shadow: #d4d4d4 0 1px 0;
   background: #666666;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#666666));
   background: -webkit-linear-gradient(top, #ffffff, #666666);
   background: -moz-linear-gradient(top, #ffffff, #666666);
   background: -ms-linear-gradient(top, #ffffff, #666666);
   background: -o-linear-gradient(top, #ffffff, #666666);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #666666 100%);
   color: #000000;
   }

.button:active {
   text-shadow: #bfbfbf 0 1px 0;
   border: 1px solid #2e2e2e;

   background: #d9d9d9;
   background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#616161));
   background: -webkit-linear-gradient(top, #595959, #d9d9d9);
   background: -moz-linear-gradient(top, #595959, #d9d9d9);
   background: -ms-linear-gradient(top, #595959, #d9d9d9);
   background: -o-linear-gradient(top, #595959, #d9d9d9);
   background-image: -ms-linear-gradient(top, #595959 0%, #d9d9d9 100%);

   color: #000000;
   }

.button:disabled {
   opacity: 0.6;
   border: 1px solid #ffffff;
}